.card-wrapper {
    border: 1px solid black;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.error {
    
}


.loading {
    background-color: orange;
    color: white;
    padding: 10px;
}